<%- include('./partials/header.ejs') %>

<!-- Banner -->
	<div class="banner">
		<img src="images/img-home-banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i=0; i < products.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= products[i].id %> ">
							<figure class="product-box_image">
								<img class= "images" src="<%= products[i].IMG %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2> <%= products[i].modelo %> </h2>
								<p>Marca: <%= products[i].marca %></p>
								<p>Publicado por: <%= products[i].owner?.username %> </p> <!-- si no hay lo que est치 a la izq que no se ejecute lo que esta a la derecha -->
								
								<%=console.log(products[i].owner?.username)%> 	
							</article>
						</a>
					</section>
				</div>
				<% } %>
		</div>
	</div>

	<!-- M치s comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">M치s comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i=0; i < products.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= i+1 %> ">
							<figure class="product-box_image">
								<img class= "images" src="<%= products[i].IMG %> " alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2> <%= products[i].modelo %> </h2>
								<p>Color del armazon: <%= products[i].colorDelArmazon %></p>
								<p>Color del lente: <%= products[i].colorDelLente %></p>
								
								
							</article>
						</a>
					</section>
				</div>
				<% } %>
		</div>
	</div>

	
	<!-- /M치s comentados -->


	<%- include('./partials/footer.ejs') %>