<%- include('./partials/header.ejs') %> 
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> <%= product.modelo %> </h2> 
			<p class="product-detail-description">
				<a href="productEdit">Editar</a>
			</p>
		</div>
			
				<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= product.IMG %>" alt="imagen de producto" class="product-detail-img">
					<p class="product-detail-description">
						<p>Marca: <%= product.marca %></p>
						<p>Modelo: <%= product.modelo %></p>
						<p>Color del armazon: <%= product.colorDelArmazon %></p>
						<p>Color del lente: <%= product.colorDelLente %></p></p>
				</article>
			
				
			</div>
		</div>
				
		
	</div>

 <div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src=" <%= user.profilePhoto %> " alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/me"><%= user.username %></a> </strong>
								<p>Comentario: <%= user.comment %></p></p>
							</div>
						</article>
					</section>
					<form class="form" >
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div> 


	<%- include('./partials/footer.ejs') %> 

