<%- include('./partials/header.ejs') %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">
				<%= product.modelo %>
			</h2>

			
			<% if (locals.user && user.id == product.user_id) { %>
				<p class="product-detail-description">
					<a href="/product/<%= product.id %>/edit">Editar</a> 
				</p>
				<form action="/product/<%= product.id %>/delete" method="post">
					<input class="btn btn-primary" type="submit" value="Borrar">
				  </form>
				  
			  <% } %>
			  
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= product.IMG %>" alt="imagen de producto" class="product-detail-img">
					<p class="product-detail-description">
						<p>Publicado por: <a href="/products/profile/<%= product.user_id %>"><%= product.owner?.username %></a> <!-- si no hay lo que está a la izq que no se ejecute lo que esta a la derecha -->
						</p>

					<p>Marca: <%= product.marca %>
					</p>
					<p>Modelo: <%= product.modelo %>
					</p>
					<p>Color del armazon: <%= product.colorDelArmazon %>
					</p>
					<p>Color del lente: <%= product.colorDelLente %>
					</p>
					</p>
				</article>
				
			</div>
			<div class="col-12 col-lg-4">
				<section class="comments">
					<h2>Comentarios</h2>
					<% for (let i=0; i < product.comment.length; i++) { %>
						<div class="card mb-2">
							<div class="card-body">
								<b>
									<%= product.comment[i].user?.username %> <!-- si no hay lo que está a la izq que no se ejecute lo que esta a la derecha -->
								</b> 
								<%= product.comment[i].comment %>
							</div>
						</div>
						<% } %>
				</section>
				<form class="form" method="post" action="/product/<%= product.id %>/comment">
					<input class="form-input" type="text" value="" placeholder="Agregar comentario" name= "comment"
						id=" comment">
					<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
				</form>
				<hr>
			</div>
		</div>
		
	</div>




	<%- include('./partials/footer.ejs') %>