<%- include('./partials/header.ejs') %>

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
				<h3> <%= product.modelo %> </h3>
			</div>

			<% if (locals.error) {%> 
				<div class = "alert alert-secondary" role="alert"> 
					<%= error %> 
				</div>
			<% }%> 
			
			<% for( let i=0; i < product.length; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/<%= product[i].id %> ">
							<figure class="product-box_image">
								<img class= "images" src="<%= product[i].IMG %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2> <%= product[i].modelo %> </h2>
								<p>Marca: <%= product[i].marca %></p>
								<p>Publicado por: <%= product[i].owner?.username %> <!-- si no hay lo que está a la izq que no se ejecute lo que esta a la derecha --></p>
							</article>
						</a>
					</section>
				</div>
				<% } %>

		</div>
	</div>



			<%- include('./partials/footer.ejs') %>